# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\SIT\Year 1\1009 - Object Orientated Programming\Assignment_Java_Team44\ict1009-team44-2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
